body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

canvas {
    border: 2px solid black;
}

#contenedor,
#fondo,
#lienzo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#fondo {
    background: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
}