<h2>Usuarios</h2>

<!-- Formulario para crear usuarios -->
<form [formGroup]="usuarioForm" (ngSubmit)="crearUsuario()" *ngIf="!submitted">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" formControlName="email" required>
  </div>
  <button type="submit" class="btn btn-primary">Crear Usuario</button>
</form>

<!-- Tabla para mostrar usuarios -->
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.email }}</td>
      <td>
        <button class="btn btn-danger" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
        <button class="btn btn-primary" (click)="actualizarUsuario(usuario.id)">Actualizar</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Sección para actualizar usuario -->
<div *ngIf="usuarioSeleccionado">
  <h3>Actualizar Usuario</h3>

  <form [formGroup]="usuarioForm" (ngSubmit)="guardarCambios()" [ngClass]="{'submitted': submitted}">
    <!-- Campos del formulario para actualizar el usuario -->
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
</div>

