@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
   
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #df7e39 21.43%,
    #FF6B6B 50.63%,
    #df7e39 100%,
    #406aff 117.04%

  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

/* ---------------------------- CSS MODALES -----------------------------------------*/

.modalContainer {
  background: rgb(33,58,87);
  background: linear-gradient(90deg, rgba(33,58,87,1) 25%, rgb(95, 16, 50) 76%); 
  max-width: 80rem;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5rem;
}
.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.z-60 {
  z-index: 60;
}

.modalImg {
  width: 45rem;
  height: 45rem;
  object-fit: cover;
  padding: 2rem;
  border-radius: 5rem;
}
.modalDerecha {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 20px;
}
.btnCerrar{
  position: fixed;
  bottom: 14px;
  right: 44px;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin-top: 1rem;
  padding: 3rem;

  }



  @media screen and (max-width: 500px) {
    .modalImg {
      display: none;
    }
    .modalContainer{
     
      flex-direction: row;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100vh;
    }
    
  }

  /* ---------------------------- FIN CSS MODALES -----------------------------------------*/


@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
