{% extends 'layout.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENERADOR</title>
</head>
<body>
    {% block content%}
    <div class="col-md-4 offset-md-4">
        <div class="card card-body bg-secondary text-center text-white">
            

            <h1>Password Generado</h1>
            
            <p style="font-size: 26px;">{{password}}</p>
        
            

        </div>
    </div>
    {% endblock %}
    

</body>
</html>