
$fuente_principal: 'Montserrat', sans-serif;

$verde: rgb(48, 182, 164);
$rosa: rgb(182, 48, 164);
$amarillo: rgb(221, 197, 22);
$morado: rgb(114, 27, 158);
$negro: rgb(15, 16, 16);
$blanco: rgb(255, 255, 255);


// Normalize